@font-face {
	font-family: 'kongtext';
	src: url('static/fonts/kongtext.ttf') format('truetype');
}

* {
	font-family: 'kongtext';
	font-weight: 500;
}

body {
    margin: 0;
}

button {
	letter-spacing: -4px;
}

#back-btn {
	text-align: center;
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 20px;
}

#dialog-default {
	transition: all 2s;
	animation: fadeIn 2s;
	letter-spacing: -4px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.text-center {
	text-align: center;
}
