@font-face {
    font-family: 'schoolbook';
    src: url('../static/fonts/schoolbook.ttf');
}

html {
    font-family: 'schoolbook';
}

body {
    background-color: aquamarine;
    margin: 0;
    margin-right: 3px;
    padding: 2px;
}

#time-display {
    background-color: #d9d9d9;
    padding: 5px;
    border: solid 1px black;
} 

#topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf;
    border-bottom: black solid;
    border-right: black solid;
    border-top: white solid;
    border-left: white solid;
    width: 100%;
    height: 50px;
}

.window {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;
}

.window-header {
    cursor: move;
    z-index: 10;
    padding: 5px;
    text-align: left;
    background-color: #bfbfbf;
    border-bottom: black solid;
    border-right: black solid;
    border-top: white solid;
    border-left: white solid;
}

.window .resizers {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.window .resizers .resizer {
    width: 10px;
    height: 10px;
    position: absolute;
}

.window .resizers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}
.window .resizers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.window .resizers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}
.window .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.icon {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.icon-image {
    height: 50px;
    width: fit-content;
    padding: 5px;
}

.icon-text {
    font-size: 1.1rem;
    width: fit-content;
}

.icon-image {
    height: 50px;
}