@font-face {
    font-family: 'vcr_osd_mono';
    src: url('../static/fonts/vcr_osd_mono.ttf');
}

@font-face {
    font-family: 'apple_garamond';
    src: url('../static/fonts/apple_garamond.ttf');
}

* {
	font-family: 'vcr_osd_mono';
}

html {
    font-size: 1.3rem;
}

body {
    margin: 0;
}

#home {
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../static/images/background.png');
    background-size: cover;
}

#title {
    font-family: 'vcr_osd_mono';
    font-size: 2rem;
    letter-spacing: -.1rem;
    height: 100px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

#topbar {
    display: flex;
    justify-content: center;
    border-style: double;
    border-color: black;
    border-width: thick;
    padding: 10px;
    width: 50%;
    font-weight: 1000;
}

#links a.active {
    color: red;
}

#sidebar a:hover:not(.active) {
    color: black;
}