@import 'font.css';

html {
    font-family: 'schoolbook';
    overflow: hidden;
}

body {
    background-color: aquamarine;
    margin: 0;
    margin-right: 3px;
    padding: 2px;
}

#time-display {
    background-color: #d9d9d9;
    padding: 5px;
    border: solid 1px black;
} 

#topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf;
    border-bottom: black solid;
    border-right: black solid;
    border-top: white solid;
    border-left: white solid;
    width: 100%;
    height: 50px;
}

#window-symbols {
    display: flex;
}

.window {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid black;
    text-align: center;
    width: 900px;
    height: 600px;
    top: 100px;
    left: 100px;
}

.test-header {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: red;
}

.window-header {
    width: 100%;
    height: 30px;
    position: absolute;
    display: flex;
    cursor: move;
    justify-content: space-between;
    z-index: 10;
    background-color: #bfbfbf;
    border-bottom: black solid;
    border-top: white solid;
}

.window-header > .title {
    margin-left: 5px;
    margin-top: 3px;
}

.exit {
    background-color: red;
    color: white;
}

.symbol-default {
    background-color: white;
    color: black;
}

.symbol {
    height: 70%;
    padding: 0 3px 0 3px;
    border: 1px black solid;
    margin-right: 5px;
    margin-top: 3px;
    font-weight: bold;
    cursor: pointer;
}

.window .resizers {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.window .resizers .resizer {
    width: 40px;
    height: 40px;
    position: absolute;
}

.window .resizers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}
.window .resizers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.window .resizers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}
.window .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.icon {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.icon-image {
    height: 50px;
    width: fit-content;
    padding: 5px;
}

.icon-text {
    font-size: 1.1rem;
    width: fit-content;
}

.icon-image {
    height: 50px;
}